$primary-color: rgb(222, 70, 70);

$navbar-primary: #331d2c;
$navbar-secondary: #a78295;
$navbar-tertiary: #efe1d1;

$hero-text-primary: #040202;
$hero-text-secondary: #2c1810;
$hero-text-tertiary: #c8a35f;

$trust-border: #efe1d1;

$whereToBuy: #856c3e;

$white: #fcfcfc;

$blinkit-background: #f8cb45;
$blinkit-text: #1f1f1f;

$zepto-background: #950edb;
$zepto-text: #ffffff;

$swiggy-background: #ff5200;
$swiggy-text: #ffffff;

$big-basket-background: #5e9400;
$big-basket-text: #ffffff;
